.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Didact+Gothic&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* HEADER */
.header {
  background-color: rgba(22, 33, 62, 1);
  display: flex;
  justify-content: center;
}
.header-bg-image{
  width: 100vw;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  min-width: 80vw;
  
}

.nav-links > a{
  color: white;
  text-decoration: none;
  padding:0 20px;
}

.home-link > a {
  font-family: 'Cinzel', serif;
  font-size:30px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: -10px;
  color: white;
  text-decoration: none;
}

/* Main Components - consistent on all pages*/

h2{
  font-family: 'Cinzel'
}

h4{
  font-family: 'Gothic A1';
  font-size: 22px;
}

p{
  font-family:'Gothic A1';
  font-size:16px;
}
button{
  font-family: 'Gothic A1';
  font-size: 20px;
}

.night-button{
  border-radius: 20px;
  border-style: none;
  background-color: rgba(45, 32, 96, 1);
  width: 10vw;
  height: 4vh;
  color: white;
}

.grapebutton{
  border-radius: 20px;
  padding: 5px;
  border-style: none;
  background-color: rgba(121, 28, 138, 1);
  width: 10em;
  height: 2em;
  color: white;
  margin: 10px 0 10px 0;
}

footer{
  background-color: rgba(22, 33, 62, 1);
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer-container {
  display: flex;
  max-width: 80vw;
  height: 10em;
  margin: auto;
  justify-content: space-between;
  color: white;
}

.footer-part{
  display:flex;
  max-width: 10em;
  margin: auto;
  align-items: center;
}

.icon-image{
  height: 20px;
  margin-right: 10px;
}

/* HOME PAGE */

.welcome{
  padding-top: 20px;
  font-family: 'Cinzel';
  color: white;
  font-size: 24px;
  margin-bottom: -15px;
}
.kagrea-name{
  font-family: 'Cinzel';
  color: white;
  font-size: 48px;
}

.kagrea-crystal{
  width: 40vh;
  height: 40vh;
  margin-top: 40px;
}
.intro-holder{
  display: flex;
  background-image: url(https://i.imgur.com/IAWwISV.jpg);
  background-size:cover ;
  height: 50vh;
  padding-top: 20px;
  padding-left: 40px;
  text-align: left;
  border: solid;
  border-color: black;
}

.home-body > p, h4 {
  color: white;
  font-family: 'Didact Gothic';
  text-align: left;
}

.container {
  max-width: 80vw;
  display: flex;
  flex-wrap: row;
  margin: auto;
}

.home {
  height: 100vh;
}

/* Homepage- About us */

.about-us-container {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 20px auto 20px auto;

}
.about-us-container > h2 {
  font-family: 'Cinzel';
  font-size: 48px;
  text-align: left;
  margin: 5px 0 5px 0;
}
.about-us-container > p{
  text-align: left;
  font-family: 'Gothic A1';
}
.starline{
  margin: auto;
  width: 100%;
}

.plsWork > a{
  text-decoration: none;
}

.DeityDetails > img {
 height: 200px;
}

.DeityDetails > a {
 text-decoration: none;
}

