.App {
  text-align: center;
}


@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Didact+Gothic&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* HEADER */
.header {
  background-color: rgba(22, 33, 62, 1);
  display: flex;
  justify-content: center;
}
.header-bg-image{
  width: 100vw;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
  min-width: 80vw;
  
}

.nav-links > a{
  color: white;
  text-decoration: none;
  padding:0 20px;
}

.home-link > a {
  font-family: 'Cinzel', serif;
  font-size:30px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  margin-top: -10px;
  color: white;
  text-decoration: none;
}

/* Main Components - consistent on all pages*/

h2{
  font-family: 'Cinzel';
  font-weight:700;
  font-size: 40px;
}

h3{
  font-family: 'Cinzel';
  font-weight: 500;
  font-size: 30px;;
  color:  rgba(45, 32, 96, 1)
}

h4{
  font-family: 'Gothic A1';
  font-size: 20px;
}


p{
  font-family:'Gothic A1';
  font-size:16px;
}

button{
  font-family: 'Gothic A1';
  font-size: 20px;
  width: 8em;
  margin: 2em;
  border-style: none;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(171, 140, 215);
}

.night-button{
  border-radius: 20px;
  border-style: none;
  background-color: rgba(45, 32, 96, 1);
  width: 10vw;
  height: 4vh;
  color: white;
  margin:0;
  padding: 5px;
}

.grapebutton{
  border-radius: 20px;
  padding: 5px;
  border-style: none;
  background-color: rgba(121, 28, 138, 1);
  width: 10em;
  height: 2em;
  color: white;
  margin: 10px 0 10px 0;
}


footer{
  background-color: rgba(22, 33, 62, 1);
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer-container {
  display: flex;
  max-width: 80vw;
  height: 10em;
  margin: auto;
  justify-content: space-between;
  color: white;
}

.footer-part{
  display:flex;
  max-width: 10em;
  margin: auto;
  align-items: center;
}

.icon-image{
  height: 20px;
  margin-right: 10px;
}

/* HOME PAGE */

.welcome{
  padding-top: 20px;
  font-family: 'Cinzel';
  color: white;
  font-size: 24px;
  margin-bottom: -15px;
}
.kagrea-name{
  font-family: 'Cinzel';
  color: white;
  font-size: 48px;
}

.kagrea-crystal{
  width: 40vh;
  height: 40vh;
  margin-top: 40px;
}
.intro-holder{
  display: flex;
  background-image: url(https://i.imgur.com/IAWwISV.jpg);
  background-size:cover ;
  height: 50vh;
  padding-top: 20px;
  padding-left: 40px;
  text-align: left;
  border: solid;
  border-color: black;
}

.home-body > p, .home-body > h4 {
  color: white;
  font-family: 'Gothic A1';
  text-align: left;
}

.container {
  max-width: 80vw;
  display: flex;
  flex-wrap: row;
  margin: auto;
}

.home, .ArticlePageAlpha {
  height: 100vh;
}

/* Homepage- About us */

.about-us-container {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 100px auto;

}
.about-us-container > h2 {
  font-family: 'Cinzel';
  font-size: 40px;
  text-align: left;
  margin: 5px 0 5px 0;
}
.about-us-container > p{
  text-align: left;
  font-family: 'Gothic A1';
}
.starline{
  margin: auto;
  width: 100%;
}


/* WORLD ARTICLE PAGE */
.world-intro{
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 10px auto 10px auto;
  text-align: left;
  
}
.world-intro > h4, .world-intro > h2{
  color:black;
  margin: 0;
}

.world-container-parent{
  height: 100vh;
  position: relative;
}
/* WORLD CARD */

.WorldCard > a{
  text-decoration: none;
  font-family: 'Gothic A1';
  font-weight: 700;
  color:black;
}

.WorldDetails > img{
  height:30vh;
}

.WorldDetails{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.World-container{
  width: 80vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}


/* DEITY PAGE */

.deity-intro{
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 10px auto 10px auto;
  text-align: left;
  
}
.deity-intro > h4, .deity-intro > h2{
 color:black;
 margin: 0;
}



/* DEITY CARD */


.DeityCard > a{
  text-decoration: none;
  font-family: 'Gothic A1';
  font-weight: 700;
  color:black;
}

.DeityCard{
  width: 200px;
  padding: 30px;
  margin: 20px 0 20px 0;
}

.DeityDetails > img {
 height: 200px;
}

.Deity-container{
  width: 80vw;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
 /* DEITY ARTICLE */

.deityarticle-container{
  width: 80vw;
  margin: 45px auto 80px auto;
  display:flex;
  flex-wrap: row;
  justify-content: space-around;
  align-content: flex-start;
}

.deity-words{
  text-align: left;
  width: 50vw;
}

.deity-words > p, .deity-words > h4{
  color: black;
}



.deity-longcard{
  display:flex;
  flex-direction:column;
  margin:auto;
  background-color: rgba(45, 32, 96, 0.6);
  padding: 20px;
  border-radius: 25px;
}

.deity-longcard > p{
  color:white;
  margin: 5px auto 5px auto;
}

.deity-longcard > img{
  height:325px;
  width:auto;
  margin-bottom: 20px;;
}

.Comment-section{
  width: 80vw;
  margin: auto;
  display:flex;
  flex-direction: column;
  
}
.Comment-section > h4{
text-align: left;
}

.comment {
  margin: 15px auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  text-align: left;
}

 a.ArticlePageAlpha > button {
background-color: aqua;
 }


 /* SIGN UP PAGE */

 .signin{
  width: 40vw;
  height: 60vh;
  color:white;
  background-color: rgb(76, 49, 87);
  border-radius: 25px;
  margin: 20vh auto;
  display: flex;
  align-content: center;
  padding: 3em;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .col> a{
  text-decoration: none;
  color:rgb(227, 189, 234)
 }

 .card-overlay{
  display:flex;
  flex-direction: column;

  margin: auto;
  width: 70%;
 }

 .input-wrapper{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px auto;
  row-gap: 10px;
 }

 .input-wrapper > input{
  border-radius: 25px;
  padding: 10px;
 }

 /* REGISTER PAGE */

 .register{
  width: 40vw;
  height: 90vh;
  color:white;
  background-color: rgb(76, 49, 87);
  border-radius: 25px;
  margin: 20vh auto;
  display: flex;
  align-content: center;
  padding: 3em;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .register-card-overlay{
  display:flex;
  flex-direction: column;

  margin: auto;
  width: 70%;
 }

 .registerinput-wrap{
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px auto;
  row-gap: 10px;
 }

 .registerinput-wrap > input{
  border-radius: 25px;
  padding: 10px;
 }


/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .deityarticle-container{
    width: 90vw;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 910px) {
  .deity-words{
    width: 90%;
  }
  .deity-longcard{
    width:90%;
  }

}



